.navbar-brand 
{
    display: block;
    width: 150px;
    height: 50px;
} 

.Spacing
{
    margin-bottom: 100px;
}

.footerbg
{
    background: url('./assets/art1.png') no-repeat ;
    background-size: 100%;
}

.carousel-item img
{
    width: 100%;
    size: cover;
}

.footerheading
{
    color: red;
    padding: 100px 0px;
}



.footerbg h2,p,a
{
    color: white;
}

p
{
    color: black;
}


.footer-links
{
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 10px;
}

.footerbg p
{
    color: white;
}